@charset "utf-8";

@font-face {
    font-family:'Pretendard';
    font-style: normal;
    font-weight: 100;
    src:url('font/Pretendard-Thin.eot');
    src:local('Pretendard Thin'), local('Pretendard-Thin'),
        url('font/Pretendard-Thin.woff2') format('woff2'),
        url('font/Pretendard-Thin.otf') format('opentype');
}

@font-face {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:200;
    src:url('font/Pretendard-ExtraLight.eot');
    src:local('Pretendard ExtraLight'), local('Pretendard-ExtraLight'),
        url('font/Pretendard-ExtraLight.woff2') format('woff2'),
        url('font/Pretendard-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:300;
    src:url('font/Pretendard-Light.eot');
    src:local('Pretendard Light'), local('Pretendard-Light'),
        url('font/Pretendard-Light.woff2') format('woff2'),
        url('font/Pretendard-Light.otf') format('opentype');
}

@font-face {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:400;
    src:url('font/Pretendard-Regular.eot');
    src:local('Pretendard Regular'), local('Pretendard-Regular'),
        url('font/Pretendard-Regular.woff2') format('woff2'),
        url('font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:500;
    src:url('font/Pretendard-Medium.eot');
    src:local('Pretendard Medium'), local('Pretendard-Medium'),
        url('font/Pretendard-Medium.woff2') format('woff2'),
        url('font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:600;
    src:url('font/Pretendard-SemiBold.eot');
    src:local('Pretendard SemiBold'), local('Pretendard-SemiBold'),
        url('font/Pretendard-SemiBold.woff2') format('woff2'),
        url('font/Pretendard-SemiBold.otf') format('opentype');
}

/* Pretendard 700 (Bold) */
@font-face {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:700;
    src:url('font/Pretendard-Bold.eot');
    src:local('Pretendard Bold'), local('Pretendard-Bold'),
        url('font/Pretendard-Bold.woff2') format('woff2'),
        url('font/Pretendard-Bold.otf') format('opentype');
}

@font-face {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:800;
    src:url('font/Pretendard-ExtraBold.eot');
    src:local('Pretendard ExtraBold'), local('Pretendard-ExtraBold'),
        url('font/Pretendard-ExtraBold.woff2') format('woff2'),
        url('font/Pretendard-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:900;
    src:url('font/Pretendard-Black.eot');
    src:local('Pretendard Black'), local('Pretendard-Black'),
        url('font/Pretendard-Black.woff2') format('woff2'),
        url('font/Pretendard-Black.otf') format('opentype');
}
