@charset "utf-8";

/**** Roboto 폰트 ****/
@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url("../assets/font/Roboto-Regular.ttf"); 
}

@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("../assets/font/Roboto-Bold.ttf"); 
}