@charset "utf-8";

@use 'font';

/* 초기화 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit;}
ul {list-style:none;}
a {text-decoration:none; color:inherit}
b {font-weight:700;}

/* 변수 */
$paleNavy-color:#36384D;
$darkNavy-color:#242742;
$orange-color:#FF6155;

/* 버튼 공통 스타일 */
@mixin btn-common {
    position: relative;
    z-index: 2;
    margin-top: 24px;
    color: #fff;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: $darkNavy-color;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 8px;
        transition: all .3s ease;
        box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 50%);
        background: linear-gradient(-155.535deg, #FF6A3A 0%, #FF527B 100%);
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
    span {
        position: relative;
        z-index: 1;
    }
}


body {
    display:flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    font-family:'Roboto';
    font-size:16px;
    font-weight:500;
    padding:0 24px;
    background:$paleNavy-color;
}
 
.news-letter {
    &.hide {
        display:none;
    }
    max-width: 928px;
    width: 100%;
    min-height: 641px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 97px 488px 24px 64px;
    color:$darkNavy-color;
    border-radius: 36px;
    background-color: #fff;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: top 24px right 24px;
    background-image: url(../assets/images/illustration-sign-up-desktop.svg);
  
    h1 {
      font-size:56px;
      font-weight:700;
      line-height:1;
      margin-bottom:24px;
    }
    p {
        line-height:1.5;
    }
    .txt_list  {
        margin-top:24px;
        li {
            position:relative;
            line-height:1.5;
            padding-left:37px;
            &:before {
                content:'';
                position:absolute;
                z-index:1;
                top:0;
                left:0;
                width:21px;
                height:21px;
                background:url(../assets/images/icon-success.svg) no-repeat;
                background-size:100%;
            }
        }
        li + li {
            margin-top:10px;
        }
    }
    .user-form {
        margin-top:40px;
        .tit-box {
            display:flex;
            justify-content: space-between;
            margin-bottom:8px;
            h2 {
                font-size:12px;
                font-weight:700;
                line-height:1.5;    
            }
            .error-message {
                display:none;
                color:$orange-color;
                font-size:12px;
                line-height:1.5;
                font-weight:700;
                &.show {
                    display:block;
                }
            }
        }
        input {
            width:100%;
            height:56px;
            border-radius:8px;
            padding:0 24px;
            border:1px solid rgba(25,24,43,25%);
            box-sizing: border-box;
            font-size:16px;
            color:$darkNavy-color;
            outline:none;
            transition: border-color .3s ease;
            &::placeholder {
                color:$darkNavy-color;
                opacity: .5;
                font-size:16px;
            }
            &:hover, &:focus {
                border-color:$darkNavy-color;
            }
            &.error {
                color:#FF6155;
                border-color:#FF6155;
                background:rgba(255,97,85,15%);
                &::placeholder {
                    color:#FF6155;
                }
            }
        }
        button {
            @include btn-common;
        }
    }
  }

#success-popup {
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    max-width:504px;
    padding:152px 64px 64px;
    transform:translate(-50%,-50%);
    border-radius:36px;
    color:$darkNavy-color;
    box-sizing: border-box;
    background:#fff;
    &:before {
        content:'';
        position:absolute;
        z-index:1;
        top:48px;
        left:64px;
        width:64px;
        height:64px;
        background:url(../assets/images/icon-success.svg) no-repeat center;
        background-size:100%;
    }
    &.open {
        display:block;
    }
    h2 {
        margin-bottom:24px;
        font-size:56px;
        font-weight:700;
        line-height:1;
    }
    > p {
        line-height:1.5;
    }
    button {
        @include btn-common;
    }
}

/* Tablet */
@media all and (max-width:1024px) {
    body {
        display:block;
        padding:0;
    }
    .news-letter {
        max-width: 100%;
        min-height:auto;
        border-radius: 0;
        padding:324px 24px 40px;
        background-position: top center;
        background-size:375px;
        background-image: url(../assets/images/illustration-sign-up-mobile.svg);
        h1 {
            font-size:40px;
        }
    }

    #success-popup {
        position:relative;
        max-width: 100%;
        top:inherit;
        left:inherit;
        min-height: 100vh;
        padding:253px 24px;
        border-radius:0;
        transform:inherit;
        &:before {
            top:149px;
            left:24px;
        }
        h2 {
            font-size:40px;
        }
        button {
            position:absolute;
            z-index:1;
            bottom:40px;
            left:24p;
            width:calc(100% - 48px);
        }
    }
}

@media all and (max-width:768px){
}

/* Mobile */
@media all and (max-width:375px){

}
